{% extends 'base.html'%}

{%block contents%}
<style>
        .jb-red {
          color: red;
        }
      </style>


<body>
  
      {%for blog in blogs.all %}
     
      

            <div class="card" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
              <p class="card-text">\{{blog.summary}}</p>
              <a href="{% url 'detail' blog.id %}"class="card-link">...more</a>
            </div>
          </div>
      {%endfor%}

  

</body>

{%endblock%}